useDynLib(numrs, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
S3method("print", "NumRsArray")
S3method("print", "NumRsTensor")
S3method("+", "NumRsTensor")
S3method("-", "NumRsTensor")
S3method("*", "NumRsTensor")
S3method("/", "NumRsTensor")
S3method("%*%", "NumRsTensor")
S3method("str", "NumRsArray")
S3method("str", "NumRsTensor")
S3method("nr_shape", "NumRsArray")
S3method("nr_shape", "NumRsTensor")
S3method("dim", "NumRsArray")
S3method("dim", "NumRsTensor")
S3method("as.array", "NumRsArray")
S3method("as.array", "NumRsTensor")
S3method("as.double", "NumRsArray")
S3method("as.double", "NumRsTensor")
S3method("as.matrix", "NumRsArray")
S3method("as.matrix", "NumRsTensor")
S3method("as.data.frame", "NumRsArray")
S3method("as.data.frame", "NumRsTensor")
